body {
    background: url('../images/background.png') repeat;
}

h1 {
    text-align: inherit;
    padding-top: 50px;
    line-height: normal;
    color: #1a237e;
}

h1 small {
    font-size: 24px;
    font-style: italic;
    color: #6200ea;
    text-shadow: none;
}
#element-wrapper {
    width: 800px;
}

.perspectived {
    width: 200px;
    height: 200px;
}

.perspectived a img {
    width: 200px;
    height: 200px;
}

.perspectived a p {
    /*height: 300px;*/
}

.perspectived a:hover p, .perspectived a.hover p {
    /*margin-top: -300px;*/
}
.perspectived a p.selected {
    /*margin-top: -300px;*/
}

.perspectived .hero-name {
    padding-top: 4px;
    text-transform: uppercase;
    font-size: 16px;
}
.perspectived .hero-quote {
    font-size: 12px;
}

#element {
    background-color: #ff80ab;
}
#element p {
    background-color: #c2185b;
}

#element2 {
    background-color: #82b1ff;
}
#element2 p {
    background-color: #1976d2;
}

#element3 {
    background-color: #ffff8d;
}
#element3 p {
    background-color: #fbc02d;
}

#element4 {
    background-color: #ccc;
}
#element4 p {
    background-color: #444;
}

#element5 {
    background-color: #ccff90;
}
#element5 p {
    background-color: #689f38;
}

#element6 {
    background-color: #ff8a80;
}
#element6 p {
    background-color: #d32f2f;
}

#element7 {
    background-color: #b388ff;
}
#element7 p {
    background-color: #512da8;
}

#element8 {
    background-color: #ffe57f;
}
#element8 p {
    background-color: #ffa000;
}

#wonder-content header {
    text-align: center;
    line-height: normal;
}

#wonder-content img {
    float: none;
}

.mirror-left, .mirror-right {
    float:left;
    width: 50%;
}

.mirror-left {
    text-align: right;
}

.mirror-left p {
    margin: 0 20px;
    color: #EEE;
    font-size: 20px;
    line-height: normal;
}
.mirror-right p {
    margin: 0 20px;
    color: #111;
    font-size: 20px;
    line-height: normal;
}

em {
    font-style: italic;
}

footer p {
    padding: 15px;
    border: 2px solid rgb(0, 190, 215);
    border-radius: 15px;
    background-color: rgb(179, 244, 236);
    font-size: 16px;
    line-height: normal;
    color: #555;
}