body,
body.basic {
    background: #9CD2F4 url('../images/basic/background.png') repeat;
}
body.xmas {
    background: #9CD2F4 url('../images/xmas/background.png') repeat;
}

header {
    height: 300px;
    margin: 0 auto 20px;
}
h1 {
    text-align: inherit;
    padding-top: 50px;
    line-height: normal;
    color: #1a237e;
}

h1 small {
    font-size: 24px;
    font-style: italic;
    color: #6200ea;
    text-shadow: none;
}

.theme {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    opacity: 0.5;
}
.theme:hover {
    opacity: 1;
}
.theme-select,
.theme-select:hover{
    display: block;
    height: 40px;
    font: 16px/40px bold Verdana, Geneva, sans-serif;
    text-align: center;
    background-color: #4C77FF;
    color: white;
    z-index: 1;
}
.theme ul {
    position: relative;
    top: -120px;
    z-index: -1;
}
.theme ul li {
    height: 40px;
    font: 16px/40px bold Verdana, Geneva, sans-serif;
    text-align: center;
    color: #FFF;
    background-color: #3024DF;
    cursor: pointer;
}
.theme ul li.selected,
.theme ul li:hover {
    background-color: #04069B;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#element-wrapper {
    width: 800px;
}

.perspectived {
    width: 200px;
    height: 200px;
}

.perspectived a img {
    width: 200px;
    height: 200px;
}

.perspectived a p {
    /*height: 300px;*/
}

.perspectived a:hover p, .perspectived a.hover p {
    /*margin-top: -300px;*/
}
.perspectived a p.selected {
    /*margin-top: -300px;*/
}

.perspectived .hero-name {
    padding-top: 4px;
    text-transform: uppercase;
    font-size: 16px;
}
.perspectived .hero-quote {
    font-size: 12px;
}

#element {
    background-color: #ff80ab;
}
#element p {
    background-color: #c2185b;
}

#element2 {
    background-color: #82b1ff;
}
#element2 p {
    background-color: #1976d2;
}

#element3 {
    background-color: #ffff8d;
}
#element3 p {
    background-color: #fbc02d;
}

#element4 {
    background-color: #ccc;
}
#element4 p {
    background-color: #444;
}

#element5 {
    background-color: #ccff90;
}
#element5 p {
    background-color: #689f38;
}

#element6 {
    background-color: #ff8a80;
}
#element6 p {
    background-color: #d32f2f;
}

#element7 {
    background-color: #b388ff;
}
#element7 p {
    background-color: #512da8;
}

#element8 {
    background-color: #ffe57f;
}
#element8 p {
    background-color: #ffa000;
}

#wonder-content header {
    text-align: center;
    line-height: normal;
}

#wonder-content img {
    float: none;
}

.mirror-left, .mirror-right {
    float:left;
    width: 50%;
}

.mirror-left {
    text-align: right;
}

.mirror-left p {
    margin: 0 20px;
    color: #EEE;
    font-size: 20px;
    line-height: normal;
}
.mirror-right p {
    margin: 0 20px;
    color: #111;
    font-size: 20px;
    line-height: normal;
}

em {
    font-style: italic;
}

footer p {
    padding: 15px;
    border: 2px solid rgb(0, 190, 215);
    border-radius: 15px;
    background-color: rgb(179, 244, 236);
    font-size: 16px;
    line-height: normal;
    color: #555;
}